<div>
  <div>
    <h1>
      Feed
    </h1>
  </div>
</div>

<div>
  <div>
    <table border="1">
  <tr>
    <th>
      Image
    </th>

    <th>
      Owner
    </th>

    <th>
      Caption
    </th>

    <th>
      Posted
    </th>

    <th>
      Likes
    </th>

    <th></th>
  </tr>
      <% @followings.each do |following| 
      user_id = following.recipient_id
      user = User.where({:id => user_id}).at(0)
      user_photos = user.photos
        user_photos.each do |photo|%>
        <tr>
          <td>
            <img src=<%=photo.image%>>
          </td>
          <td>
            <%= user.username%>
          </td>
          <td>
            <%= photo.caption%>
          </td>
          <td>
            <%= time_ago_in_words(photo.created_at) %> ago
          </td>
          <td>
            <%=photo.likes_count%>
          </td>
          <td>
            <a href="/photos/<%= photo.id%>">
              Show details
            </a>
          </td>
        </tr>
        
    <% end %>
    <% end %>
    </table>
  </div>
</div>

<hr>
